.board {
    text-align: center;
    margin-top: 50px;
}


.break {
    height: 0;
    flex-basis: 100%;
}


.square {
    display: inline-flex;
    width: 80px;
    height: 80px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -4px;
    margin-top: 0px;
}



.light {
    background-color: #aec6aa;
}


.dark {
    background-color: #1d6150;
}


body {
    background-color: #1d1d1d;
}
