.board {
    text-align: center;
    margin-top: 50px;
}

.break {
    height: 0;
    flex-basis: 100%;
}

.square {
    display: inline-block;
    width: 80px !important;
    height: 80px !important;
}

.piece {
    position: relative;
    width: 75px;
    height: 75px;
    top: 3px;
    background-size: cover;
}

.piece, .square {
    margin: -2px 0px -2px 0px;
}

.light {
    background-color: #aec6aa;
}

.dark {
    background-color: #1d6150;
}

body {
    background-color: #1d1d1d;
}
